* {
    background-color: rgb(70, 70, 70);
    color: white;
}

QPushButton {
    background-color: rgb(50,50,50);
    border: 2px solid gray;
    border-radius: 10px;
    font: bold 14px;
    min-width: 5em;
    padding: 6px;
}

QLineEdit{ 
    background-color:rgb(55,55,55);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 16px;
    color:white;
}
QLineEdit:focus { 
    background-color:white;
    color:black;
}

QPushButton:hover{
    background-color:white;
    color:rgb(55,55,55);
}

QPushButton#ok{

    background-color: blue;
}
QPushButton#ok:hover{

    color:white;
}

QPushButton#annulla:hover{

    background-color: red;
}
QPushButton#like:hover{

    background-color: rgb(241, 205, 0);
}
QPushButton#salva:hover{

    background-color: green;
    color:white;
}



/* tengo il blu come pulsante importante */